@charset "UTF-8";

.card {
  box-sizing: border-box;
  display: inline-block;
  margin: 5px 5px 5px 5px;
  cursor: pointer;
  /* Set the card's dimensions, and size it relative to
  it's font size. */
  font-size: inherit;
  width: 3.32em;
  height: 5.4em;
  /* Scale and set the background settings. */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  /* "Hide" any text within the element (use text to be
  simply compliant with screen readers, etc.). */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  /* Default sizes for cards (size based off the font). */
  /* Optional styles for cards: borderless and drop shadow. */
  border-radius: .28em;
  /* Not a card, but a card-shaped outline to represent a
  droppable place, like an empty pile. */ }
  
  body{
    margin: 50px;
    background-color: #8f8f8fb2;
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: 10% 30% 40% 50%;
  }
  .card.xsmall {
    font-size: 9px; }
  .card.small {
    font-size: 12px; }
  .card.large {
    font-size: 26px; }
  .card.xlarge {
    font-size: 42px; }
  .card.mainCard {
    font-size: 84px;
  }
  .card.no-border {
    border: 0; }
  .card.shadow {
    box-shadow: 2px 2px 3px 0 rgba(41, 41, 41, 0.75); }
  .card.outline {
    background-image: none;
    background-color: rgba(195, 195, 195, 0.5);
    border: 0.15em dashed #daa520; }
  
#mainCard {
  grid-column: 2/3;
  grid-row: 3/4;
}
#cardGrid, #cardThemeGrid {
  grid-column: 1/3;
}

#cardThemeGrid {
  grid-row: 2/4;
}
#cardGrid {
  margin-top: 13px;
  grid-row: 3/4;
}
#timeGrid {
  grid-column: 2/3;
  grid-row: 2/4;
}

#logResults {
  grid-column: 3/3;
  grid-row: 3/4;
}

#timer {
  color: ghostwhite;
  border-radius: 10px;
  background-color: rgb(17, 17, 17);
  border-style: double;
  max-width: fit-content;
  padding: 10px;
}

#logList {
  display: inline-flex;

}
.card.wht.plain {
  background-image: url("../card-images/Plain/wht-only.png");}

.card.blk.plain {
  background-image: url("../card-images/Plain/blk-only.png");}

.card.wht.ether.et,
.w00 {
  background-image: url("../card-images/wht-bg/Ether/Ether-Ether-wht.png"); }

.card.wht.ether.f,
.w01 {
  background-image: url("../card-images/wht-bg/Ether/Ether-Fire-wht.png"); }

.card.wht.ether.a,
.w02 {
  background-image: url("../card-images/wht-bg/Ether/Ether-Air-wht.png"); }

.card.wht.ether.w,
.w03 {
  background-image: url("../card-images/wht-bg/Ether/Ether-Water-wht.png"); }

.card.wht.ether.e,
.w04 {
    background-image: url("../card-images/wht-bg/Ether/Ether-Earth-wht.png"); }

.card.wht.fire.et,
.w10 {
  background-image: url("../card-images/wht-bg/Fire/Fire-Ether-wht.png"); }

.card.wht.fire.f,
.w11 {
  background-image: url("../card-images/wht-bg/Fire/Fire-Fire-wht.png"); }

.card.wht.fire.a,
.w12 {
  background-image: url("../card-images/wht-bg/Fire/Fire-Air-wht.png"); }

.card.wht.fire.w,
.w13 {
  background-image: url("../card-images/wht-bg/Fire/Fire-Water-wht.png"); }

.card.wht.fire.e,
.w14 {
  background-image: url("../card-images/wht-bg/Fire/Fire-Earth-wht.png"); }

.card.wht.air.et,
.w20 {
  background-image: url("../card-images/wht-bg/Air/Air-Ether-wht.png"); }

.card.wht.air.f,
.w21 {
  background-image: url("../card-images/wht-bg/Air/Air-Fire-wht.png"); }

.card.wht.air.a,
.w22 {
  background-image: url("../card-images/wht-bg/Air/Air-Air-wht.png"); }

.card.wht.air.w,
.w23 {
  background-image: url("../card-images/wht-bg/Air/Air-Water-wht.png"); }

.card.wht.air.e,
.w24 {
  background-image: url("../card-images/wht-bg/Air/Air-Earth-wht.png"); }

.card.wht.water.et,
.w30 {
  background-image: url("../card-images/wht-bg/Water/Water-Ether-wht.png"); }

.card.wht.water.f,
.w31 {
  background-image: url("../card-images/wht-bg/Water/Water-Fire-wht.png"); }

.card.wht.water.a,
.w32 {
  background-image: url("../card-images/wht-bg/Water/Water-Air-wht.png"); }

.card.wht.water.w,
.w33 {
  background-image: url("../card-images/wht-bg/Water/Water-Water-wht.png"); }

.card.wht.water.e,
.w34 {
  background-image: url("../card-images/wht-bg/Water/Water-Earth-wht.png"); }

.card.wht.earth.et,
.w40 {
  background-image: url("../card-images/wht-bg/Earth/Earth-Ether-wht.png"); }

.card.wht.earth.f,
.w41 {
  background-image: url("../card-images/wht-bg/Earth/Earth-Fire-wht.png"); }

.card.wht.earth.a,
.w42 {
    background-image: url("../card-images/wht-bg/Earth/Earth-Air-wht.png"); }

.card.wht.earth.w,
.w43 {
  background-image: url("../card-images/wht-bg/Earth/Earth-Water-wht.png"); }

.card.wht.earth.e,
.w44 {
  background-image: url("../card-images/wht-bg/Earth/Earth-Earth-wht.png"); }

  
.card.blk.ether.et, 
.b00 {
  background-image: url("../card-images/blk-bg/Ether/Ether-Ether-blk.png"); }

.card.blk.ether.f,
.b01 {
  background-image: url("../card-images/blk-bg/Ether/Ether-Fire-blk.png"); }

.card.blk.ether.a,
.b02 {
  background-image: url("../card-images/blk-bg/Ether/Ether-Air-blk.png"); }

.card.blk.ether.w,
.b03 {
  background-image: url("../card-images/blk-bg/Ether/Ether-Water-blk.png"); }

.card.blk.ether.e,
.b04 {
    background-image: url("../card-images/blk-bg/Ether/Ether-Earth-blk.png"); }

.card.blk.fire.et,
.b10 {
  background-image: url("../card-images/blk-bg/Fire/Fire-Ether-blk.png"); }

.card.blk.fire.f,
.b11 {
  background-image: url("../card-images/blk-bg/Fire/Fire-Fire-blk.png"); }

.card.blk.fire.a,
.b12 {
  background-image: url("../card-images/blk-bg/Fire/Fire-Air-blk.png"); }

.card.blk.fire.w,
.b13 {
  background-image: url("../card-images/blk-bg/Fire/Fire-Water-blk.png"); }

.card.blk.fire.e,
.b14 {
  background-image: url("../card-images/blk-bg/Fire/Fire-Earth-blk.png"); }

.card.blk.air.et,
.b20 {
  background-image: url("../card-images/blk-bg/Air/Air-Ether-blk.png"); }

.card.blk.air.f,
.b21 {
  background-image: url("../card-images/blk-bg/Air/Air-Fire-blk.png"); }

.card.blk.air.a,
.b22 {
  background-image: url("../card-images/blk-bg/Air/Air-Air-blk.png"); }

.card.blk.air.w,
.b23 {
  background-image: url("../card-images/blk-bg/Air/Air-Water-blk.png"); }

.card.blk.air.e,
.b24 {
  background-image: url("../card-images/blk-bg/Air/Air-Earth-blk.png"); }

.card.blk.water.et,
.b30 {
  background-image: url("../card-images/blk-bg/Water/Water-Ether-blk.png"); }

.card.blk.water.f,
.b31 {
  background-image: url("../card-images/blk-bg/Water/Water-Fire-blk.png"); }

.card.blk.water.a,
.b32 {
  background-image: url("../card-images/blk-bg/Water/Water-Air-blk.png"); }

.card.blk.water.w,
.b33 {
  background-image: url("../card-images/blk-bg/Water/Water-Water-blk.png"); }

.card.blk.water.e,
.b34 {
  background-image: url("../card-images/blk-bg/Water/Water-Earth-blk.png"); }

.card.blk.earth.et,
.b40 {
  background-image: url("../card-images/blk-bg/Earth/Earth-Ether-blk.png"); }

.card.blk.earth.f,
.b41 {
  background-image: url("../card-images/blk-bg/Earth/Earth-Fire-blk.png"); }

.card.blk.earth.a,
.b42 {
    background-image: url("../card-images/blk-bg/Earth/Earth-Air-blk.png"); }

.card.blk.earth.w,
.b43 {
  background-image: url("../card-images/blk-bg/Earth/Earth-Water-blk.png"); }

.card.blk.earth.e,
.b44 {
  background-image: url("../card-images/blk-bg/Earth/Earth-Earth-blk.png"); }



  /* Re-orients the cards for different directions. While
   they are symmetric, it's still important to orient
   them correctly in case text or other symbols are
   layered on them with CSS pseudo-selectors, new
   classes/rules, etc. */
.card.west,
.card.W {
  transform: rotate(90deg);
  margin: auto 0.75em; }
  .card.west.shadow,
  .card.W.shadow {
    box-shadow: 2px -2px 3px 0 rgba(41, 41, 41, 0.75); }

.card.north,
.card.N {
  transform: rotate(180deg); }
  .card.north.shadow,
  .card.N.shadow {
    box-shadow: -2px -2px 3px 0 rgba(41, 41, 41, 0.75); }

.card.east,
.card.E {
  transform: rotate(270deg);
  margin: auto 0.75em; }
  .card.east.shadow,
  .card.E.shadow {
    box-shadow: -2px 2px 3px 0 rgba(41, 41, 41, 0.75); }